* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.app,
html {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}
.navbar {
	display: flex;
	background-color: lightskyblue;
	padding: 1rem;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 1px 1px;
	border-radius: 6px;
}
.navlinks {
	display: flex;
	list-style: none;
	align-items: center;
}

.link {
	padding: 10px;
	margin-right: 4px;
}

.home {
	margin-top: 12px;
	width: 99vw;
	min-height: 100vh;
}
.home-header {
	text-align: center;
}

.footer {
	display: flex;
	padding: 1rem;
	position: sticky;
	bottom: 0;
	background-color: lightskyblue;
	justify-content: center;
	box-shadow: 1px 1px 1px 2px;
	border-radius: 6px;
}
.footlinks {
	display: flex;
}

.footlink {
	padding: 6px;
	margin: 2px;
}

#createH2 {
	display: flex;
	margin: 5px;
	justify-content: center;
	align-items: center;
}

#createText {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login {
	display: flex;
	justify-content: center;
	min-height: 87vh;
}
#login-form {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 8rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}

#register {
	display: flex;
	justify-content: center;
	min-height: 87vh;
}
.registerForm {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 8rem 10rem 8rem 10rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
	align-items: center;
	justify-content: center;
}

#registerSubmit {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

.registerp {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.profile {
	min-height: 85vh;
}
.messages {
	display: flex;
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.yourPosts {
	display: flex;
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.no-messages {
	display: flex;
	align-items: center;
	padding: 6px;
}
.no-posts {
	display: flex;
	align-items: center;
	padding: 6px;
}

.allposts {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.one-post {
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.singles-post {
	min-height: 85vh;
}
.single-post-header {
	margin-top: 1rem;
	text-align: center;
	text-decoration: underline;
}
.ones-post {
	margin: 10px;
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.post-title {
	margin: 4px;
}
.post-body {
	margin: 4px;
}
.author {
	margin: 4px;
}
.delivery {
	margin: 4px;
	font-weight: 700;
}
.post-info {
	list-style: none;
	margin: 4px;
}
.post-location {
	margin: 4px;
}
.post-price {
	margin: 4px;
}

.home-button {
	margin: 4px;
	padding: 5px;
	font-size: medium;
}
.deleted-button {
	margin: 4px;
	padding: 5px;
	font-size: medium;
}

.profile-header {
	margin: 10px;
	margin-bottom: 1rem;
}
.messages {
	display: flex;
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.yourPosts {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.no-messages {
	display: flex;
	align-items: center;
	padding: 6px;
}
.no-posts {
	display: flex;
	align-items: center;
	padding: 6px;
}
.profile-one-post {
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
	min-width: 80vw;
}
.delete-button {
	margin: 4px;
	padding: 5px;
	font-size: medium;
}

.allposts {
	display: flex;
	flex-direction: column;
}
.one-post {
	margin: 10px;
	padding: 2rem;
	border: 1px solid;
	box-shadow: 1px 1px 2px 2px;
}
.post-title {
	margin: 4px;
}
.post-body {
	margin: 4px;
}
.author {
	margin: 4px;
}
.delivery {
	margin: 4px;
	font-weight: 700;
}
.post-info {
	list-style: none;
	margin: 4px;
}

.details-button {
	margin: 4px;
	padding: 5px;
	font-size: medium;
}

#welcome {
	padding: 10px;
	margin-left: 10px;
}
